HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mvnw.cmd

### IntelliJ IDEA ###
.vscode
.idea
*.iws
*.iml
*.ipr
.mvn
target
postgres-data


# Temporary files
*.tmp
*.log
